[Unit]
Description=service to start Livepeer Transcoder service on this machine
After=network.target

[Service]
User=ubuntu
Type=simple
Restart=always
RestartSec=1s
WorkingDirectory=/home/ubuntu/livepeer-linux-amd64/
ExecStart=/home/ubuntu/livepeer-linux-amd64/livepeer -transcoder -cliAddr 127.0.0.1:7937 -httpAddr 127.0.0.1:8937 -orchAddr 127.0.0.1:8936 -orchSecret secret -v 99

[Install]
WantedBy=default.target
